---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Itinerarios Personalizados para tu Viaje a Japón | Nippon Routes"
  description="Explora nuestros itinerarios personalizados de 7 días para un viaje inolvidable a Japón. Descubre Tokyo, Kyoto y Osaka con rutas optimizadas, experiencias auténticas y guías locales. Planifica tu aventura perfecta hoy mismo."
>
  <main>
    <section class="flex flex-col items-center justify-center">
      <h1 class="font-extrabold text-3xl text-pink-500 mt-20 mb-8">
        Aqui encontraras los itinerarios personalizados para tu viaje a Japón.
      </h1>
    </section>
  </main>
</Layout>
