---

---

<section
  class="font-extrabold text-2xl flex flex-row items-center justify-between min-h-screen px-8"
>
  <section class="flex flex-col items-center justify-center flex-1">
    <h1>Hola Bienvenidos a Nippon Routes</h1>
  </section>
  <section class="flex flex-col items-center justify-center flex-1">
    <img
      src="/src/assets/avatar.png"
      alt="Yuriko chan, nippon guide"
      class="aspect-square w-96 h-96"
    />
  </section>
</section>
